#pipeline_name {
    padding-left: 10px;
    text-transform: uppercase;
}

#header {
    height: 40px;
    z-index: 999;
}

#cytoscape {
    height: 100%;
    position: relative;
}

.cyto-exporter {
    float: left;
    z-index: 1001;
    margin: 10px;
    position: absolute !important;
}

.fullheight {
    height: 100%;
}

.ui.hidden, .ui.invisible {
    display: none !important;
}

.ui.tab-main-wrapper {
    margin-left: 270px;
    overflow-y: auto;
    padding-left: 1px;
    padding-right: 1px;
    display: flex;
    flex-direction: column;
}
.ui.tab-main{
    flex-grow: 1;
    overflow-y: hidden;
}

.ui.button {
    padding: .75em .5em !important;
}

.ui.sidebar {
    padding: 56px 15px 15px 15px !important;
    overflow-y: auto;
}

.ui.tab {
    height: 100%;
    margin: 0px !important;
    border-width: 0px !important;
    padding-top: 50px !important;
}

.ui.tabular.menu .item {
    cursor: pointer;
}

.ui.tabular.menu .item:hover {
    color: #ffffff;
}

.ui.icon.close {
    margin-left: 12px !important;
    margin-right: -6px !important;
}

ul.jobs-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.jobs-ul > li {
    float: left;
    padding: 2px;
    min-width: 40px;
    background-color: rgb(212, 212, 212);
    margin-right: 4px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #bdbdbd;
    margin-bottom: 3px;
}

li.job.init {
    background-color: #ffffff;
}

li.job.succeeded {
    background-color: #5bd68a;
}

li.job.failed {
    background-color: rgb(255, 219, 213);
}

li.job.rc-changed {
    font-style: italic;
    border-radius: 5px;
}

li.job.current {
    border-color: #111;
    padding: 1px;
    border-width: 2px;
}

li.job.cached {
    background-color: rgb(213, 231, 255);
}

.ui.buttons > .ui.button {
    width: 120px;
    border-right: 1px solid white;
    max-width: 200px;
}

.ui.buttons.top > .ui.button {
    margin-bottom: 1px;
}

.ui.buttons.bottom > .ui.button {
    margin-top: 1px;
}

.ui.button.toggle.active {
    background-color: #7d847e !important;
}

li.job.running {
    -webkit-animation: JOB-RUNNING .5s infinite;  /* Safari 4+ */
    -moz-animation: JOB-RUNNING .5s infinite;  /* Fx 5+ */
    -o-animation: JOB-RUNNING .5s infinite;  /* Opera 12+ */
    animation: JOB-RUNNING .5s infinite;  /* IE 10+, Fx 29+ */
}

.editor {
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    font-weight: 400;
    height: 340px;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    resize: none !important;
    tab-size: 4;
    height: calc(70vh);
}

.code {
    font-family: 'Source Code Pro', consolas, monospace;
    font-size: 14px;
    letter-spacing: normal;
}

.code p {
    line-height: 1.2em;
}

.logger {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.logger > .code {
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding: 16px 10px;
    margin-top: 8px;
    flex-grow: 1;
    overflow: auto;
}

@keyframes JOB-RUNNING {
    0%, 32% {
      background-color: #c6ee7b;
    }
    33%, 66% {
        background-color: #f8b6ef;
      }
    67%, 100% {
      background-color: rgb(109, 188, 253);
    }
  }

.ui.modal .scrolling.content {
    min-height: calc(75vh);
    display: flex;
    flex-direction: column;
}
.ui.modal .scrolling.content .code {
    flex-grow: 1;
}
.ui.modal.log .content p {
    line-height: 1.2em;
    font-family: consolas, Monaco, monospace;
}

.ui.modal.log .code {
    overflow-y: auto;
    max-height: 700px;
    margin-top: 8px;
    padding: 8px 4px;
}

.ui.proc-detail {
    height: 100%;
    overflow: auto;
}

.ui.form.job-script {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ui.form.job-script > .field:first-child {
    flex-grow: 1;
}

.ui.form.action.logger {
    display: inline-block;
    width: 255px;
    text-align: left;
}

.ui.filebrowser {
    height: 103%;
    overflow-y: hidden;
}

.ui.filebrowser .ui.list {
    margin: 0;
    padding-top: .5em !important;
}

.ui.filebrowser .ui.list .icon {
    float: left;
}

.ui.filebrowser .ui.list .header {
    cursor: pointer;
}

.column.fileview {
    flex-grow: 1;
    height: 100% !important;
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
}

.column.fileview > .ui.previewer {
    flex-grow: 1;
    overflow: auto;
}

.column.fileview .ui.breadcrumb {
    display: block;
    margin-bottom: 6px;
}
.column.fileview .ui.breadcrumb > div {
    display: inline-block;
}
.column.fileview .ui.breadcrumb > div.active {
    font-weight: bold;
}
.column.fileview .ui.operations {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #efefef !important;
}
.column.fileview .ui.operations .ui.button {
    width: auto !important;
    padding: 8px 20px !important;
}

.ui.filebrowser > .ui.column.list {
    width: 270px;
    overflow-x: auto;
    background-color: #EEE;
}

.ui.filebrowser .fileview {
    height: 700px;
}

.fileview .code{
    width: 100% !important;
    overflow: auto;
    margin-top: 0 !important;
}

.fileview .code p {
    line-height: 1.4em;
    margin: 0 0 0.2em;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
