<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/klay.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape-klay.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.qtip.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape-qtip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cytoscape_factory.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket_factory.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tab_factory.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/semantic.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/jquery.qtip.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="ui left attached fixed tabular menu inverted" id="header">
        <div class="active item" data-tab="__pipeline__">Pipeline: <span id="pipeline_name"></span></div>
    </div>
    <div class="ui bottom attached loading active tab segment" data-tab="__pipeline__">
        <div id="cytoscape"></div>
    </div>
</body>
</html>
